@import url('conversations.css');


#main{
    font-weight: 200!important;
}

h1, h2, h3{
    margin: 0;
    font-weight: 200!important;
}
a{
    color: inherit;
    cursor: pointer;
}

header{
    height:75px;
}
header nav{
    border-radius: 0!important;
    border: 0!important;
    color: #fff;
    background-color: #1b5faa!important;
}
.logo{
    padding-top: 15px;
}
.logo span:hover{
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.logo a:active{
    color: #fff!important;
    text-decoration: none!important;
}

.tool-icons{
    float: right;
    padding: 15px 5px;
}
.tool-icons a{
    color: inherit;
}
.tool-icons a:hover{
    color: #ccc;
}
.tool-icons i{
    font-size: 3em;
}

.title{
    margin: 20px 0;
}

.dashboard h1{
    text-align: center;
}

.dash-panels{
    margin-bottom: 20px;
}

/*Login Page Styles*/
#login{
    background-color: #1b5faa;
    width: 100%;
    height: 100vh;
    position: fixed;
}

#login h1, #login h3{
    
    text-align: center;
    margin: 20px;
    color: #fff;
}

#login .loginForm{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.loginForm .input-group{
    width: 100%;
    padding: 10px 0;
}
.loginForm button{
    margin-top: 5px;
    width: 100px;
}

.loginError{
    color: red;
    text-align: center;
}

.page-title{
    margin: 15px 0;
}
.page-title h1{
    border-bottom: 2px solid #f1f1f1;
}

/*Profile Styles*/

.profile-box{
    position: absolute;
    border: 2px solid #f1f1f1;
    width: 100%;
    padding-bottom: 20px;
}

.profile-greeting{
    background-color: #f1f1f1;
    padding: 10px 5px;
    margin-bottom: 20px;
    height: 50px;
}

.profile-greeting i{
    font-size: 1.2em;
}

.prof-pic-box{
    width: 150px;
    height: 150px;
}

.prof-pic{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background:url('../img/telecare-icon.png') center ;
    background-size: cover;
}

/*Dashboard Styles*/
.dash-box{
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 0 20px;
}

.dash-icon{
        text-align: center;
    padding: 60px 0;
}

.dash-icon i{
    font-size: 5em;
}

.dash-title{
    text-align: center;
    border-top: 1px solid;
    padding: 15px 0;
}